In [8]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('food-allergy-analysis-Zenodo.csv')

In [10]:
data

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.736482,7.449692,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,True,0.019165,6.984257,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.443532,7.405886,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,S0 - Male,R3 - Other,E0 - Non-Hispanic,P0 - Non-Medicaid,True,0.013689,7.017112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.019165,3.014374,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.iloc[0]['SUBJECT_ID']

1

In [12]:
data.isnull().sum()

SUBJECT_ID                      0
BIRTH_YEAR                      0
GENDER_FACTOR                   0
RACE_FACTOR                     0
ETHNICITY_FACTOR                0
PAYER_FACTOR                    0
ATOPIC_MARCH_COHORT             0
AGE_START_YEARS                 0
AGE_END_YEARS                   0
SHELLFISH_ALG_START        327954
SHELLFISH_ALG_END          332149
FISH_ALG_START             331404
FISH_ALG_END               332673
MILK_ALG_START             325911
MILK_ALG_END               328620
SOY_ALG_START              330781
SOY_ALG_END                331769
EGG_ALG_START              327135
EGG_ALG_END                329907
WHEAT_ALG_START            332054
WHEAT_ALG_END              332512
PEANUT_ALG_START           324547
PEANUT_ALG_END             331108
SESAME_ALG_START           332434
SESAME_ALG_END             333022
TREENUT_ALG_START          333199
TREENUT_ALG_END            333200
WALNUT_ALG_START           332496
WALNUT_ALG_END             333034
PECAN_ALG_START            332915
PECAN_ALG_END              333141
PISTACH_ALG_START          332831
PISTACH_ALG_END            333118
ALMOND_ALG_START           332814
ALMOND_ALG_END             333083
BRAZIL_ALG_START           333132
BRAZIL_ALG_END             333181
HAZELNUT_ALG_START         332947
HAZELNUT_ALG_END           333148
CASHEW_ALG_START           332639
CASHEW_ALG_END             333079
ATOPIC_DERM_START          283685
ATOPIC_DERM_END            291468
ALLERGIC_RHINITIS_START    277633
ALLERGIC_RHINITIS_END      307874
ASTHMA_START               269326
ASTHMA_END                 307735
FIRST_ASTHMARX             215650
LAST_ASTHMARX              215650
NUM_ASTHMARX               215650
dtype: int64

In [13]:
data.shape

(333200, 50)

In [14]:
data.columns

Index(['SUBJECT_ID', 'BIRTH_YEAR', 'GENDER_FACTOR', 'RACE_FACTOR',
       'ETHNICITY_FACTOR', 'PAYER_FACTOR', 'ATOPIC_MARCH_COHORT',
       'AGE_START_YEARS', 'AGE_END_YEARS', 'SHELLFISH_ALG_START',
       'SHELLFISH_ALG_END', 'FISH_ALG_START', 'FISH_ALG_END', 'MILK_ALG_START',
       'MILK_ALG_END', 'SOY_ALG_START', 'SOY_ALG_END', 'EGG_ALG_START',
       'EGG_ALG_END', 'WHEAT_ALG_START', 'WHEAT_ALG_END', 'PEANUT_ALG_START',
       'PEANUT_ALG_END', 'SESAME_ALG_START', 'SESAME_ALG_END',
       'TREENUT_ALG_START', 'TREENUT_ALG_END', 'WALNUT_ALG_START',
       'WALNUT_ALG_END', 'PECAN_ALG_START', 'PECAN_ALG_END',
       'PISTACH_ALG_START', 'PISTACH_ALG_END', 'ALMOND_ALG_START',
       'ALMOND_ALG_END', 'BRAZIL_ALG_START', 'BRAZIL_ALG_END',
       'HAZELNUT_ALG_START', 'HAZELNUT_ALG_END', 'CASHEW_ALG_START',
       'CASHEW_ALG_END', 'ATOPIC_DERM_START', 'ATOPIC_DERM_END',
       'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'ASTHMA_START',
       'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX'],
      dtype='object')

# GENDER_FACTOR

In [15]:
data['GENDER_FACTOR'].value_counts()

S0 - Male      169032
S1 - Female    164168
Name: GENDER_FACTOR, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(data['GENDER_FACTOR'])
 
# printing label
label

array([1, 1, 0, ..., 0, 0, 1])

In [17]:
data.drop('GENDER_FACTOR', axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data['GENDER_FACTOR'] = label
 
# printing Dataframe
data

,SUBJECT_ID,BIRTH_YEAR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,...,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX,GENDER_FACTOR
0,1,2006,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,1994,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0,1
2,3,2006,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,...,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0,0
3,4,2004,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,2006,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.736482,7.449692,NaN,NaN,...,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN,0
333196,333197,2006,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,True,0.019165,6.984257,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
333197,333198,2006,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.443532,7.405886,NaN,NaN,...,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0,0
333198,333199,2006,R3 - Other,E0 - Non-Hispanic,P0 - Non-Medicaid,True,0.013689,7.017112,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
333199,333200,2006,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.019165,3.014374,NaN,NaN,...,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

# RACE_FACTOR

In [18]:
data['RACE_FACTOR'].value_counts()

R0 - White                        183308
R1 - Black                         97795
R4 - Unknown                       40940
R2 - Asian or Pacific Islander      9152
R3 - Other                          2005
Name: RACE_FACTOR, dtype: int64

In [19]:
label = le.fit_transform(data['RACE_FACTOR'])
 
# printing label
label
data.drop('RACE_FACTOR', axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data['RACE_FACTOR'] = label
 
# printing Dataframe
data

,SUBJECT_ID,BIRTH_YEAR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,...,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX,GENDER_FACTOR,RACE_FACTOR
0,1,2006,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1,2,1994,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0,1,0
2,3,2006,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,NaN,...,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0,0,0
3,4,2004,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4
4,5,2006,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.736482,7.449692,NaN,NaN,NaN,...,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN,0,0
333196,333197,2006,E0 - Non-Hispanic,P1 - Medicaid,True,0.019165,6.984257,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
333197,333198,2006,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.443532,7.405886,NaN,NaN,NaN,...,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0,0,0
333198,333199,2006,E0 - Non-Hispanic,P0 - Non-Medicaid,True,0.013689,7.017112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3
333199,333200,2006,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.019165,3.014374,NaN,NaN,NaN,...,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

# ETHNICITY_FACTOR

In [20]:
data['ETHNICITY_FACTOR'].value_counts()

E0 - Non-Hispanic    317868
E1 - Hispanic         15332
Name: ETHNICITY_FACTOR, dtype: int64

In [21]:
label = le.fit_transform(data['ETHNICITY_FACTOR'])
 
# printing label
label
data.drop('ETHNICITY_FACTOR', axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data['ETHNICITY_FACTOR'] = label
 
# printing Dataframe
data

,SUBJECT_ID,BIRTH_YEAR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,...,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR
0,1,2006,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0
1,2,1994,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0,1,0,0
2,3,2006,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,NaN,NaN,...,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0,0,0,1
3,4,2004,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4,1
4,5,2006,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,P0 - Non-Medicaid,False,0.736482,7.449692,NaN,NaN,NaN,NaN,...,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN,0,0,0
333196,333197,2006,P1 - Medicaid,True,0.019165,6.984257,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0
333197,333198,2006,P0 - Non-Medicaid,False,0.443532,7.405886,NaN,NaN,NaN,NaN,...,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0,0,0,0
333198,333199,2006,P0 - Non-Medicaid,True,0.013689,7.017112,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3,0
333199,333200,2006,P0 - Non-Medicaid,False,0.019165,3.014374,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0

# PAYER_FACTOR

In [22]:
data['PAYER_FACTOR'].value_counts()

P0 - Non-Medicaid    246340
P1 - Medicaid         86860
Name: PAYER_FACTOR, dtype: int64

In [23]:
label = le.fit_transform(data['PAYER_FACTOR'])
 
# printing label
label
data.drop('PAYER_FACTOR', axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data['PAYER_FACTOR'] = label
 
# printing Dataframe
data

,SUBJECT_ID,BIRTH_YEAR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,...,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR
0,1,2006,False,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,1
1,2,1994,False,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.262834,18.880219,2.0,1,0,0,0
2,3,2006,True,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,...,6.157426,5.127995,NaN,1.404517,6.157426,4.0,0,0,1,0
3,4,2004,False,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,1,0
4,5,2006,False,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,False,0.736482,7.449692,NaN,NaN,NaN,NaN,NaN,...,NaN,5.426420,7.449692,NaN,NaN,NaN,0,0,0,0
333196,333197,2006,True,0.019165,6.984257,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,1
333197,333198,2006,False,0.443532,7.405886,NaN,NaN,NaN,NaN,NaN,...,NaN,2.321697,NaN,2.321697,6.650240,4.0,0,0,0,0
333198,333199,2006,True,0.013689,7.017112,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,3,0,0
333199,333200,2006,False,0.019165,3.014374,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0

# change the order of the columns

In [24]:
column_names =['SUBJECT_ID', 'BIRTH_YEAR', 'GENDER_FACTOR', 'RACE_FACTOR',
       'ETHNICITY_FACTOR', 'PAYER_FACTOR', 'ATOPIC_MARCH_COHORT',
       'AGE_START_YEARS', 'AGE_END_YEARS', 'SHELLFISH_ALG_START',
       'SHELLFISH_ALG_END', 'FISH_ALG_START', 'FISH_ALG_END', 'MILK_ALG_START',
       'MILK_ALG_END', 'SOY_ALG_START', 'SOY_ALG_END', 'EGG_ALG_START',
       'EGG_ALG_END', 'WHEAT_ALG_START', 'WHEAT_ALG_END', 'PEANUT_ALG_START',
       'PEANUT_ALG_END', 'SESAME_ALG_START', 'SESAME_ALG_END',
       'TREENUT_ALG_START', 'TREENUT_ALG_END', 'WALNUT_ALG_START',
       'WALNUT_ALG_END', 'PECAN_ALG_START', 'PECAN_ALG_END',
       'PISTACH_ALG_START', 'PISTACH_ALG_END', 'ALMOND_ALG_START',
       'ALMOND_ALG_END', 'BRAZIL_ALG_START', 'BRAZIL_ALG_END',
       'HAZELNUT_ALG_START', 'HAZELNUT_ALG_END', 'CASHEW_ALG_START',
       'CASHEW_ALG_END', 'ATOPIC_DERM_START', 'ATOPIC_DERM_END',
       'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'ASTHMA_START',
       'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX']

data = data.reindex(columns=column_names)

In [25]:
data

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,1,1,0,1,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,1,0,0,0,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0,0,1,0,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,0,4,1,0,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,1,1,0,0,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0,0,0,0,False,0.736482,7.449692,NaN,...,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,1,1,0,1,True,0.019165,6.984257,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,0,0,0,0,False,0.443532,7.405886,NaN,...,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,0,3,0,0,True,0.013689,7.017112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,1,0,0,0,False,0.019165,3.014374,NaN,...,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#

# add the y column

In [26]:
# I removed the age start and age end because it's not related to allergies
a = data.iloc[:,9:50]

In [27]:
print(a)

        SHELLFISH_ALG_START  SHELLFISH_ALG_END  FISH_ALG_START  FISH_ALG_END  \
0                       NaN                NaN             NaN           NaN
1                       NaN                NaN             NaN           NaN
2                       NaN                NaN             NaN           NaN
3                       NaN                NaN             NaN           NaN
4                       NaN                NaN             NaN           NaN
...                     ...                ...             ...           ...
333195                  NaN                NaN             NaN           NaN
333196                  NaN                NaN             NaN           NaN
333197                  NaN                NaN             NaN           NaN
333198                  NaN                NaN             NaN           NaN
333199                  NaN                NaN             NaN           NaN

        MILK_ALG_START  MILK_ALG_END  SOY_ALG_START  SOY_ALG_END  \
0                  NaN           NaN            NaN          NaN
1                  NaN           NaN            NaN          NaN
2             1.002053      1.002053            NaN          NaN
3                  NaN           NaN            NaN          NaN
4                  NaN           NaN            NaN          NaN
...                ...           ...            ...          ...
333195             NaN           NaN            NaN          NaN
333196             NaN           NaN            NaN          NaN
333197             NaN           NaN            NaN          NaN
333198             NaN           NaN            NaN          NaN
333199             NaN           NaN            NaN          NaN

        EGG_ALG_START  EGG_ALG_END  ...  CASHEW_ALG_END  ATOPIC_DERM_START  \
0                 NaN          NaN  ...             NaN                NaN
1                 NaN          NaN  ...             NaN                NaN
2                 NaN          NaN  ...             NaN           4.884326
3                 NaN          NaN  ...             NaN                NaN
4                 NaN          NaN  ...             NaN                NaN
...               ...          ...  ...             ...                ...
333195            NaN          NaN  ...             NaN           0.736482
333196            NaN          NaN  ...             NaN                NaN
333197            NaN          NaN  ...             NaN                NaN
333198            NaN          NaN  ...             NaN                NaN
333199            NaN          NaN  ...             NaN           0.347707

        ATOPIC_DERM_END  ALLERGIC_RHINITIS_START  ALLERGIC_RHINITIS_END  \
0                   NaN                      NaN                    NaN
1                   NaN                      NaN                    NaN
2                   NaN                 3.917864               6.157426
3                   NaN                      NaN                    NaN
4                   NaN                      NaN                    NaN
...                 ...                      ...                    ...
333195              NaN                      NaN                    NaN
333196              NaN                      NaN                    NaN
333197              NaN                      NaN                    NaN
333198              NaN                      NaN                    NaN
333199         0.347707                      NaN                    NaN

        ASTHMA_START  ASTHMA_END  FIRST_ASTHMARX  LAST_ASTHMARX  NUM_ASTHMARX
0                NaN         NaN             NaN            NaN           NaN
1                NaN         NaN       12.262834      18.880219           2.0
2           5.127995         NaN        1.404517       6.157426           4.0
3                NaN         NaN             NaN            NaN           NaN
4                NaN         NaN             NaN            NaN           NaN
...              ...         ...             ...            ...           ...
333195      5.426420    7.449692             NaN            NaN           NaN
333196           NaN         NaN             NaN            NaN           NaN
333197      2.321697         NaN        2.321697       6.650240           4.0
333198           NaN         NaN             NaN            NaN           NaN
333199           NaN         NaN             NaN            NaN           NaN

[333200 rows x 41 columns]

In [28]:
# Replace NaN with 0
a.replace(to_replace = np.nan, value =0)
# any() method to checks whether any value in each row is not 0 and returns True
data["has_allergy"] = a.any(axis = 1)
# Replace boolean into int (0 or 1)
data["has_allergy"] = data["has_allergy"].astype(int)

In [29]:
data["has_allergy"].value_counts()

1    167867
0    165333
Name: has_allergy, dtype: int64

In [44]:
y=data["has_allergy"]

In [45]:
#for col in a:
   # if pd.isna(data[col]) :
 #       y= False
  #  else: 
    #    y=True

In [46]:

#for col in a:
 #   if data[col].notna():
  #      y=0
   # else:
    #    y=1

# the x columns

In [47]:
x = data.iloc[:,1:5]

In [48]:
print(x)

        BIRTH_YEAR  GENDER_FACTOR  RACE_FACTOR  ETHNICITY_FACTOR
0             2006              1            1                 0
1             1994              1            0                 0
2             2006              0            0                 1
3             2004              0            4                 1
4             2006              1            1                 0
...            ...            ...          ...               ...
333195        2006              0            0                 0
333196        2006              1            1                 0
333197        2006              0            0                 0
333198        2006              0            3                 0
333199        2006              1            0                 0

[333200 rows x 4 columns]

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=0)

# logistic regression

In [56]:
class logistic_regression():
    def __init__(self,learning_rate,iterations):
        self.learning_rate=learning_rate
        self.iterations=iterations
    def fit(self,X,Y):
        self.m,self.n=X.shape
        self.W=np.zeros(self.n)
        self.b=0
        self.X=X
        self.Y=Y
        
        for i in range (self.iterations):
            self.update_weights()
        return self
    def update_weights(self):
        A = 1/(1+np.exp(-(self.X.dot(self.W)+self.b)))
        tmp = (A-self.Y.T)
        tmp = np.reshape(tmp,self.m)
        dW = np.dot(self.X.T,tmp)/self.m
        db = np.sum(tmp)/self.m
        
        self.W = self.W-self.learning_rate*dW
        self.b = self.b-self.learning_rate*db
        
        return self
    def predict(self,X):
        Z = 1/(1+np.exp(-(X.dot(self.W)+self.b)))
        Y = np.where(Z>0.5,1,0)
        return Y

In [57]:
def get_accuracy(y_pred,Y_test):
    correctly_classified = 0
    # Changed here, because Y_pred is of type pandas.core.Series
    for i, elem in enumerate (Y_pred):
        if elem ==y_pred[i]:
            correctly_classified=correctly_classified+1
        acc = (correctly_classified/len(Y_pred))*100
    return acc

In [58]:
model = logistic_regression(learning_rate=0.01,iterations=1000)
model.fit(X_train,Y_train)
Y_pred=model.predict(X_test)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [59]:
from sklearn.linear_model import LogisticRegression
sk_model = LogisticRegression(max_iter=200)

In [60]:
sk_model.fit(X_train,Y_train)

LogisticRegression(max_iter=200)

In [61]:
y_pred2 = sk_model.predict(X_test)

In [62]:
from sklearn.metrics import accuracy_score

In [63]:
accuracy_score(Y_pred,Y_test)

0.4976590636254502

In [64]:
y_pred2

array([1, 1, 1, ..., 1, 1, 1])

In [65]:
acc2 = get_accuracy(y_pred2,Y_test)

In [66]:
acc2

0.0